<!DOCTYPE html>
<head>
    <title>cut link</title>
    <%- include('includes/head.ejs'); -%>
</head>
<body><!--     -->
    <%- include('includes/topnav.ejs'); -%>
    <img class="img_out" src="/static/potato.jpg" alt="potato" srcset="">
    <%- include('includes/down_nav.ejs'); -%>
</body>