<!DOCTYPE html>
<head>
    <title>cut link</title>
    <%- include('includes/head.ejs'); -%>
</head>
<body><!--     -->
    <img src="https://lh3.googleusercontent.com/proxy/tMn4FnOej6VTaLAcZJjtiG2lK25am0yb347d13QmURpbWZT12RW3-Z0YKYqthgFjrzUiI1UMkZczyjphsupYKN0HNlg" alt="">

</body>