<!DOCTYPE html>
<head>
    <title>cut link</title>
    <%- include('includes/head.ejs'); -%>
</head>
<body><!--     -->
    <img class="img_out" src="/static/potato.jpg" alt="potato" srcset="">
</body>