<!DOCTYPE html>
<head>
    <title>cut link</title>
    <%- include('includes/head.ejs'); -%>
</head>
<body><!--     -->
    <img src="https://lh3.googleusercontent.com/proxy/HcKTe08NKV0glanTq1C3_t3cFCwFlz8zOXiEHOZkUq5AaxxfsaaEox6h87k1ofqhRszQydF_YrPg8kdGGfA-CjpS64sPmqpThs_UnLtBJpA2iz5-o2FMlwJ6L3tfpfZdz1YEENbRbxbEQPtzMhNAAcpFptEDSgD2Xzc" alt="">

</body>